input[type=text] {
    border-bottom: 0px !important;
}

input[type=text]:focus {
    border-bottom: 1px solid transparent !important;
    box-shadow: 0 1px 0 0 transparent !important;
}

.modal {
    max-height: 100% !important;
    background: none;
}

.modal-content {
    border-radius: 0;
    border: 0px;
}